* {
    margin: 0;
    padding: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.game-square {
    border: 1px solid maroon;
}

img {
    height: 150px;
    width: 150px;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 100;
}